<nav class="navbar navbar-default">
  <div class="container-fluid custom">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"></a>
      <img id='maria' src="../assets/images/logo.png">
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#"> Home <span class="sr-only">(current)</span></a></li>
        <li [routerLinkActive]="['active']"> <a [routerLink]="['/addmeal']">Add a Meal</a></li>
        <li [routerLinkActive]="['active']"> <a [routerLink]="['/weekplan']"> Weekly Meals</a></li>
        <li><a href="https://www.ubereats.com"> OrderFood </a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Latest Heathy Meal News <span class="caret"></span></a>
          <ul class="dropdown-menu">

            <li><a href="http://www.eatingwell.com/">Eating well</a></li>
            <li><a href="http://www.eatyourselfskinny.com/">Recipe Ideas</a></li>
            <li><a href="http://www.independent.co.uk/topic/HealthyEating">UK Healthy</a></li>

          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Meals <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <!-- <li [routerLinkActive]="['active']"> <a [routerLink]="['/']">Home</a></li> -->
            <li [routerLinkActive]="['active']"> <a [routerLink]="['/breakfast']">Breakfast</a></li>
            <li [routerLinkActive]="['active']"> <a [routerLink]="['/lunch']">Lunch</a></li>
            <li [routerLinkActive]="['active']"> <a [routerLink]="['/dinner']">Dinner</a></li>

          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"> Sign Up </a></li>
        <li><a href="#" > Log In </a>
          <ul class="nav navbar-nav navbar-right">

          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="page1">
  <div>
  <h1> Welcome to Eat Healthy Live Longer </h1>

  <h3> EATING HEALTHY JUST GOT SUPER EASY </h3>

<div class="image1">
  <img src="../assets/images/goodfood.png">
</div>

<div class="image2">
  <img src="../assets/images/organic.png">
</div>


</div>
</div>
<app-sign-up></app-sign-up>
<hr>
<app-log-in></app-log-in>
<app-sign-up2></app-sign-up2>

<app-weekplan></app-weekplan>


 <router-outlet></router-outlet>
