.breakfastcomp{

    height: 100%;
    width:100%;
    border: solid black 2px;
    /*padding-left: 500px;*/
    background: url("../../assets/images/zcalendar.png");
    background-size: cover;
    background-repeat: repeat;
    color:black;
}
#sizes{
  height: 150px;
}
.inlineB {
  display: inline-block;
  float: right;
}
