<div class="breakfastcomp">
<div>
<h1> Weekly Schedule </h1>
</div>

<h2> Monday</h2>

<h4>  Breakfast {{weeklyList[0].name}} </h4>
<h4>  Lunch {{weeklyList[1].name}} </h4>
<h4>  Dinner {{weeklyList[2].name}} </h4>

<h2>  Total Calories : {{weeklyList[0].calories + weeklyList[1].calories + weeklyList[2].calories}} </h2>

<h2> Tuesday </h2>

<h4>  Breakfast {{weeklyList[0].name}} </h4>
<h4>  Lunch {{weeklyList[1].name}} </h4>
<h4>  Dinner {{weeklyList[2].name}} </h4>

<h2>  Total Calories : {{weeklyList[0].calories + weeklyList[1].calories + weeklyList[2].calories}} </h2>



</div>
