.breakfastcomp{

    height: 110%;
    width:100%;
    border: solid black 2px;
    /*padding-left: 500px;*/
    background: url("../../assets/images/wood1.png");
    background-size: cover;
    background-repeat: repeat;
    color:black;
    text-align: center;
}
.formDiv{

}
