
<div class="breakfastcomp">
<div class="formDiv">
    <h2> Add A breakfast </h2>

<form (ngSubmit)="saveNewMeal()">
    <label for="meal-name-input"> Meal Name </label>
    <input  id="meal-name-input" type="text" placeholder="Pasta"
        [(ngModel)]="breakfastName" name="breakfastName">
    <br>

    <label for="meal-calorie-input"> Calories </label>
    <input  id="meal-calorie-input" type="number"
        [(ngModel)]="breakfastCalories" name="breakfastCalories">
    <br>


    <label for="meal-picture-input"> Meal Picture </label>
    <input  id="meal-picture-input" type="text" name="mealPicture"
    [(ngModel)]="breakfastImage" name="breakfastImage">
    <br>

    <button> Save Breakfast Meal </button>
  </form>
<br>

      <h2> Add a Lunch</h2>

      <form (ngSubmit)="saveNewMeal1()">
      <label for="meal-name-input"> Lunch Name </label>
      <input  id="meal-name-input" type="text" placeholder="Grilled Squid"
          [(ngModel)]="lunchName" name="lunchName">
      <br>

      <label for="meal-calorie-input"> Calories </label>
      <input  id="meal-calorie-input" type="number"
          [(ngModel)]="lunchCalories" name="lunchCalories">
      <br>


      <label for="meal-picture-input"> Meal Picture </label>
      <input  id="meal-picture-input" type="text" name="mealPicture"
      [(ngModel)]="lunchImage" name="lunchImage">
      <br>

      <button> Save Lunch Meal </button>
    </form>

        <h2> Add a Dinner </h2>

<br>
<form (ngSubmit)="saveNewMeal2()">
    <label for="meal-name-input"> Lunch Name </label>
    <input  id="meal-name-input" type="text" placeholder="Soup"
        [(ngModel)]="dinnerName" name="dinnerName">
    <br>

    <label for="meal-calorie-input"> Calories </label>
    <input  id="meal-calorie-input" type="number"
        [(ngModel)]="dinnerCalories" name="dinnerCalories">
    <br>


    <label for="meal-picture-input"> Meal Picture </label>
    <input  id="meal-picture-input" type="text" name="mealPicture"
    [(ngModel)]="dinnerImage" name="dinnerImage">
    <br>

    <button> Save Dinner Meal </button>
  </form>

</div>
</div>
