.login{
  height: 100%;
  width:100%;
  border: solid black 2px;
  position: relative;
  bottom: 100px;
  background: url("../../assets/images/background.png");

  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 600px;
  padding-top: 180px;
  color: black;

}
.Login{

  padding-top: 100px;
}

/*.picturelogos{
  display: inline;
  width:100%;
}*/



.pic3{

      height: 250px;
  }
  h1{
        margin-bottom: 160px;
        color: darkgreen;
  }
  h2{
    color: darkgreen;
    font-size: 35px;
  }
  h3 {
    margin-bottom: 50px;
    font-size: 37px;
    font-style: italic;

  }

  h5{
    font-size: 20px;
    font-style: bold;

  }
  #calendarpic{


  position: relative;
    right: 250px;
    height: 250px;
  }
