/* You can add global styles to this file, and also import other style files */
html, body{
  height:110%;
}
nav {
  z-index: 2;
  position: fixed!important;
  width:100%;
  height:10%;
  top:0;
  color: #4FC463;
}

hr{
  border: solid black 6px;
}
